* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  line-height: 1.5;
}

/* nav shit */
nav {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background: #000;
  padding: 10px 0;
  position: fixed;
}

nav ul li {
  display: inline-block;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 1.5rem;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: rgb(105, 105, 105);
}

/* main title */

.main {
  margin-top: 7rem;
}

.main h1 {
  text-decoration: none;
  text-align: center;
  color: #000;
  font-size: 2.5rem;
}

.main .main-content {
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid black;
  margin: 1rem 2rem;
}

tbody {
  font-size: 1.5rem;
}

th {
  border: 1px solid black;
}

.sql-table {
  margin: 0 auto;
  width: 90%;
  border: 1px solid black;
}

.sql-header {
  background: grey;
}
